$primary-color: #2bbc8a;
$dark-bg: #313538;
$light-bg: #d7d7d7;

$light-text: #c9cacc;
$dark-text: #242424;

$breakpoint-tablet: 768px;
$breakpoint-laptop: 1336px;
$breakpoint-desktop: 1680px;

/***** Mixins *****/
@mixin easeOut {
  transition: all 0.5s ease-out;
}

/* Media Queries */
@mixin tablet {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: $breakpoint-laptop) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}