/* font scale used from https://type-scale.com/
   used scale is 1.333 Perfect Fourth
*/

body {
    line-height: 1.5em;

    @include laptop {
        line-height: 1.75em;
    }
}

.intro {
    h1 {
        margin-bottom: 0.8em;
    }
    h2 {
        line-height: 1.2em;
    }

    @include laptop {
        h1 {
            font-size: 3.157em;
        }

        h2 {
            font-size: 1.33em;
            line-height: 2.5em;
        }
    }
}

h1 {
    font-size: 2.369em;
}

h2 {
    color: $primary-color;
    font-size: 1.777em;
}

h3 {
  font-size: 1.333em;
}

nav li {
    font-weight:bold;
}
