nav {
  position: relative;
  background-color: $dark-bg;
  color: $light-text;
  background-color: transparent;

  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 5;
}

.logo img {
  height: 2.5em;
  margin: 1.5em;
}

.nav-links {
  /* hides unwanted animation on load
     but now there is no transition on close
   */
  opacity: 0;
  position: absolute;
  background-color: $dark-bg;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  transform: translateY(-100%);
  transition: transform ease 500ms;
  padding: 0;
  margin: 0;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;

  li {
    text-align: center;
    list-style: none;
    white-space: nowrap;

    a {
      text-decoration: none;
      color: $primary-color;
      padding: 1.6rem;
      display: block;
    }
  }
}

.nav-open {
  .nav-links {
    opacity: 1;
    transform: translateX(0);
    margin: 0;
  }
}

.menu-button {
  cursor: pointer;
  width: 30px;
  height: 21px;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  .btn-line {
    height: 3px;
    width: 100%;
    background-color: $light-text;
  }
}


@include tablet {

  nav {
    width: 84%;
    margin: auto;
    padding-top: 2em;
    align-items: center;
  }

  .menu-button {
    display: none;
  }

  .logo img {
    margin: 0;
  }

  .nav-links {
    position: relative;
    width: 65%;
    //margin: 2em 2em 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    transform: translateY(0);
    background-color: transparent;

    li {
      a {
        display: inline;
        padding: 0em;
      }
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

@include laptop {
  .nav-links {
    width: 50%;
    margin: 0;
  }


}

@include desktop {
  nav {
    width: 74%;
    margin: auto;
    padding-top: 2em;
  }

  .nav-links {
    width: 40%;
  }
}