nav {
  background-color: $dark-bg;
  color: $light-text;
}

.nav-links {
  /* hides unwanted animation on load
     but now there is no transition on close
   */
  opacity: 0;

  position: absolute;
  background-color: $dark-bg;
  width: 100%;
  z-index: 10;

  transform: translateY(-100%);
  transition: transform ease 500ms;

  ul {
    margin: 1em;
    padding: 0;
    padding-top: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  li {
    text-align: center;
    a {
      text-decoration: none;
      color: $primary-color;
      padding: 1rem;
      display: block;
    }
  }
}

.nav-open {
  .nav-links {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu-button {
  position: absolute;
  cursor: pointer;
  top: 1.5rem;
  right: 1.5rem;
  width: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;

  .btn-line {
    height: 3px;
    width: 100%;
    background-color: $light-text;
  }
}


@include tablet {
  .menu-button {
    display: none;
  }

  .nav-links {
    opacity: 1;
    transform: translateY(0);
    background-color: transparent;

    ul {
      padding-top: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      li a:hover {
        text-decoration: underline;
      }
    }
  }
}
