nav {
  position: relative;
  background-color: $dark-bg;
  color: $light-text;
  background-color: transparent;

  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo img {
  height: 2.5em;
}

.nav-links {
  /* hides unwanted animation on load
     but now there is no transition on close
   */
  opacity: 0;
  position: absolute;
  background-color: $dark-bg;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  transform: translateY(-100%);
  transition: transform ease 500ms;
  margin: 1em;
  padding: 0;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;

  li {
    text-align: center;
    list-style: none;

    a {
      text-decoration: none;
      color: $primary-color;
      padding: 1rem;
      display: block;
    }
  }
}

.nav-open {
  .nav-links {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu-button {
  cursor: pointer;
  width: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  .btn-line {
    height: 3px;
    width: 100%;
    background-color: $light-text;
  }
}


@include tablet {

  .menu-button {
    display: none;
  }

  .nav-links {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    opacity: 1;
    transform: translateY(0);
    background-color: transparent;

    a:hover {
      text-decoration: underline;
    }
  }
}
