.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;

    @include tablet {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
}

.project {
    display: flex;
    flex-direction: column;
    padding: 0.8em;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}

.project-links {
    display: flex;
    justify-content: center;
}

.button {
    margin: 0 0.5em;
    background-color: $dark-bg;
    color: $light-text;
    text-decoration: none;
    font-size: 0.8em;
    padding: 0.5em 1em;
    border-radius: 5px;

    &:hover {
        background-color: $primary-color;
        color: $dark-text;
    }

    &.not-available {
        background-color: $light-text;
        color: $dark-text;
        border: 1px solid $dark-text;
    }
}