.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
}

.project {
    display: flex;
    flex-direction: column;
    padding: 0.8em;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}